---
import { ChevronRight } from "@lucide/astro";
---

<section class="section section-cta overflow-hidden">
  <div class="container">
    <div class="max-w-lg mx-auto">
      <img
        src="/img/logo-icon.svg"
        alt="Zeepay Today"
        class="block text-center mb-6 mx-auto shadow-xl shadow-custom-blue-200/70 rounded-xl"
		width="64"
		height="64"
      />
      <h2 class="h1 text-center">Get Started with Zeepay Today</h2>
      <p class="text-center mb-6">
        Experience seamless, secure transactions at your fingertips. Sign up now
        and simplify your payments with just a few taps!
      </p>
      <div class="flex justify-center">
        <a
          href="/"
          class="btn btn-lg w-full sm:w-auto rounded-md bg-white text-custom-blue-200 hover:bg-custom-blue-200 hover:text-white border-main font-light shadow-none"
        >
          Get started now
          <ChevronRight size="14" />
        </a>
      </div>
    </div>
  </div>
</section>
