---
import { Image } from "astro:assets";
---

<section class="section section-features bg-white text-black my-0! py-20">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <h2 class="h3">
        Experience the convenience of making multiple payments with one app.
      </h2>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[3fr_2fr] gap-10 mt-8"
    >
      <div>
        <article class="bg-custom-blue-100 rounded-2xl p-10 text-center">
          <div>
            <Image
              width={500}
              height={260}
              src="/img/home/img2.webp"
              alt=""
              class="w-auto h-auto mx-auto"
              format="webp"
              quality={80}
            />
          </div>
          <div class="">
            <h3 class="h4 dark:text-black">Multi Currency Support</h3>
            <p class="text-base text-custom-grey-100">
              Handle all your payments seamlessly across different currencies
              with Zeepay. Whether it’s for personal or business needs, our app
              empowers you to manage transactions efficiently, ensuring you stay
              organized and in control of your global financial operations.
            </p>
          </div>
        </article>
      </div>
      <div class="grid gap-10">
        <article class="bg-custom-light-100 p-10 rounded-xl">
          <svg class="icon" width="28" height="28">
            <use xlink:href="#i3"></use>
          </svg>
          <div class="mt-4">
            <h4 class="h5 dark:text-black">Safe & Secure</h4>
            <p class="text-sm text-custom-grey-100">
              We've got some extra safety and security features to help
              employers and employees keep their money safe and secure. The tech
              team at zenpay that all our clients money is in safe hands.
            </p>
          </div>
        </article>
        <article class="bg-custom-light-100 p-10 rounded-xl">
          <svg class="icon" width="28" height="28">
            <use xlink:href="#i4"></use>
          </svg>
          <div class="mt-4">
            <h4 class="h5 dark:text-black">Transparency</h4>
            <p class="text-sm text-custom-grey-100">
              We've got some extra safety and security features to help
              employers and employees keep their money safe and secure. The tech
              team at zenpay that all our clients money is in safe hands.
            </p>
          </div>
        </article>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[2fr_3fr] gap-10 mt-8"
    >
      <div class="grid gap-10 order-2 md:order-1">
        <article class="bg-custom-light-100 p-10 rounded-xl">
          <svg class="icon" width="28" height="28">
            <use xlink:href="#i1"></use>
          </svg>
          <div class="mt-4">
            <h4 class="h5 dark:text-black">Speed</h4>
            <p class="text-sm text-custom-grey-100">
              We've got some extra safety and security features to help
              employers and employees keep their money safe and secure. The tech
              team at zenpay that all our clients money is in safe hands.
            </p>
          </div>
        </article>
        <article class="bg-custom-light-100 p-10 rounded-xl">
          <svg class="icon" width="28" height="28">
            <use xlink:href="#i2"></use>
          </svg>
          <div class="mt-4">
            <h4 class="h5 dark:text-black">Experience</h4>
            <p class="text-sm text-custom-grey-100">
              We've got some extra safety and security features to help
              employers and employees keep their money safe and secure. The tech
              team at zenpay that all our clients money is in safe hands.
            </p>
          </div>
        </article>
      </div>

      <div class="order-1">
        <article class="bg-custom-blue-100 rounded-2xl p-10 text-center">
          <div>
            <Image
              width={422}
              height={242}
              src="/img/home/img3.webp"
              alt=""
              class="w-auto h-auto mx-auto"
              format="webp"
              quality={100}
            />
          </div>
          <div class="">
            <h3 class="h4 dark:text-black">Effortless Integration</h3>
            <p class="text-base text-custom-grey-100">
              Zeepay seamlessly integrates with your existing financial systems
              and tools. From invoicing to payroll, our platform works in
              harmony with your business, providing a hassle-free experience
              that saves you time and effort.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
