---
import { Image } from "astro:assets";
---

<section class="section section-how-works">
  <div class="container">
    <h2 class="h3 dark:text-black">How it works?</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
      <article>
        <div class="mb-8">
          <Image
            width={600}
            height={450}
            src="/img/home/pic1.webp"
            alt=""
            class="aspect-ratio-1/1 rounded-lg"
            format="webp"
            quality={80}
          />
        </div>
        <div>
          <span
            class="bg-custom-blue-100 text-custom-blue-400 text-sm px-3 py-1 rounded-full"
            >Step 1</span
          >
          <h3 class="h5 mt-4 mb-3 dark:text-black">Easy Sign Up</h3>
          <p class="mt-2 text-custom-grey-100">
            Create your account in seconds and unlock all the features waiting
            for you. Start exploring today!
          </p>
        </div>
      </article>

      <article>
        <div class="mb-8">
          <Image
            width={600}
            height={450}
            src="/img/home/pic2.webp"
            alt=""
            class="aspect-ratio-1/1 rounded-lg"
            format="webp"
            quality={80}
          />
        </div>
        <div>
          <span
            class="bg-custom-blue-100 text-custom-blue-400 text-sm px-3 py-1 rounded-full"
            >Step 2</span
          >
          <h3 class="h5 mt-4 mb-3 dark:text-black">Link Your Bank Account</h3>
          <p class="mt-2 text-custom-grey-100">
            Connect your bank account in just a few clicks for fast, secure
            access to all your financial features.
          </p>
        </div>
      </article>

      <article>
        <div class="mb-8">
          <Image
            width={600}
            height={450}
            src="/img/home/pic3.webp"
            alt=""
            class="aspect-ratio-1/1 rounded-lg"
            format="webp"
            quality={80}
          />
        </div>
        <div>
          <span
            class="bg-custom-blue-100 text-custom-blue-400 text-sm px-3 py-1 rounded-full"
            >Step 3</span
          >
          <h3 class="h5 mt-4 mb-3 dark:text-black">Begin Your Transactions</h3>
          <p class="mt-2 text-custom-grey-100">
            Seamless, secure transactions at your fingertips. Start now and
            simplify your financial journey.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
