---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import { Image } from "astro:assets";
---

<section class="section section-review my-0! py-20! bg-white text-black">
  <div class="container">
    <h2 class="h3 text-center">Customer reviews about Zeepay</h2>

    <div class="relative">
      <div
        class="hidden md:block pointer-events-none absolute left-0 top-0 h-full w-24 z-10
              bg-gradient-to-r from-white to-transparent"
      >
      </div>

      <div
        class="hidden md:block pointer-events-none absolute right-0 top-0 h-full w-24 z-10
              bg-gradient-to-l from-white to-transparent"
      >
      </div>

      <div class="swiper mt-10" id="reviewSwiper">
        <div class="swiper-wrapper">
          <article class="swiper-slide text-center p-10 rounded-xl">
            <p class="text-sm">
              "Zeepay is my go-to app for all payments. Whether I’m paying bills
              or transferring money to friends, it’s super convenient and
              secure! The app has taken the hassle out of managing my finances,
              and I love the easy interface that keeps everything organized."
            </p>
            <div class="flex flex-wrap gap-2 items-center justify-center mt-4">
              <Image
                width={50}
                height={450}
                src="/img/comments/ava1.png"
                alt=""
                class="rounded-full w-10 h-10 object-cover"
                format="webp"
                quality={80}
              />
              <div class="flex flex-wrap gap-1">
                <b>Priya K.,</b>
                <span style="text-custom-grey-100"> Small Business Owner</span>
              </div>
            </div>
          </article>
          <article
            class="swiper-slide text-center bg-custom-light-100 p-10 rounded-xl"
          >
            <p class="text-sm">
              "Zeepay makes online payments a breeze! It’s fast, reliable, and
              so easy to use. I handle all my transactions with just a few taps,
              whether I’m paying for groceries, services, or sending money to
              friends. Zeepay truly simplifies my day-to-day payments."
            </p>
            <div class="flex flex-wrap gap-2 items-center justify-center mt-4">
              <img
                src="/img/comments/ava1.png"
                alt=""
                class="rounded-full w-10 h-10 object-cover"
              />
              <div class="flex flex-wrap gap-1">
                <b class="">Priya K.,</b>
                <span style="text-custom-grey-100"> Small Business Owner</span>
              </div>
            </div>
          </article>
          <article
            class="swiper-slide text-center bg-custom-light-100 p-10 rounded-xl"
          >
            <p class="text-sm">
              "Zeepay makes online payments a breeze! It’s fast, reliable, and
              so easy to use. I handle all my transactions with just a few taps,
              whether I’m paying for groceries, services, or sending money to
              friends. Zeepay truly simplifies my day-to-day payments."
            </p>
            <div class="flex flex-wrap gap-2 items-center justify-center mt-4">
              <img
                src="/img/comments/ava1.png"
                alt=""
                class="rounded-full w-10 h-10 object-cover"
              />
              <div class="flex flex-wrap gap-1">
                <b>Priya K.,</b>
                <span style="text-custom-grey-100"> Small Business Owner</span>
              </div>
            </div>
          </article>
          <article
            class="swiper-slide text-center bg-custom-light-100 p-10 rounded-xl"
          >
            <p class="text-sm">
              "Zeepay makes online payments a breeze! It’s fast, reliable, and
              so easy to use. I handle all my transactions with just a few taps,
              whether I’m paying for groceries, services, or sending money to
              friends. Zeepay truly simplifies my day-to-day payments."
            </p>
            <div class="flex flex-wrap gap-2 items-center justify-center mt-4">
              <img
                src="/img/comments/ava1.png"
                alt=""
                class="rounded-full w-10 h-10 object-cover"
              />
              <div class="flex flex-wrap gap-1">
                <b>Priya K.,</b>
                <span style="text-custom-grey-100"> Small Business Owner</span>
              </div>
            </div>
          </article>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  new Swiper(".swiper", {
    modules: [Navigation, Pagination],

    loop: true,
    //centeredSlides: true,

    spaceBetween: 24,

    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    //   navigation: {
    //     nextEl: ".swiper-button-next",
    //     prevEl: ".swiper-button-prev",
    //   },

    breakpoints: {
      0: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
      768: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: 3,
      },
    },
  });
</script>
