---
import { ChevronRight } from "@lucide/astro";
---

<div
  class="section flex rounded-2xl bg-[linear-gradient(to_bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/img/bg/blog-cta.jpg')] md:bg-[url('/img/bg/blog-cta.jpg')] bg-cover bg-center bg-no-repeat p-10 text-white"
>
  <div class="ml-auto max-w-md">
    <h3 class="h3">Tap to Pay, Simplify Your Day</h3>
    <p class="opacity-80">
      Experience the ease of contactless payments with Zeepay. Just tap and go
      secure, fast, and hassle-free for all your transactions.
    </p>

    <a
      href="#"
      class="btn btn-lg w-full sm:w-auto rounded-md bg-white text-main font-light mt-10"
    >
      Know more
      <ChevronRight size="14" />
    </a>
  </div>
</div>
