---
import Form from "./FormContact.astro";
---

<section class="section my-0! py-10 lg:py-20 bg-custom-blue-100">
  <div class="container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
      <div>
        <h1 class="h2">Contact Our Team</h1>
        <p class="subtitle">
          Get in touch with our team to explore how we can support your
          financial journey. We're here to answer your questions and provide
          personalized assistance!
        </p>
        <div class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-1">
          <div class="bg-white rounded-xl p-6 grid grid-cols-[56px_1fr] gap-3">
            <div
              class="rounded-full border border-black/20 p-4 flex items-center justify-center"
            >
              <svg class="icon" width="26" height="26">
                <use xlink:href="#contact-phone"></use>
              </svg>
            </div>
            <div class="text-custom-grey-100">
              <p>Give us a call</p>
              <a
                href="tel:+444572008200"
                class="text-main font-semibold text-xl underline hover:no-underline"
                >+44 45 7200 8200</a
              >
            </div>
          </div>

          <div class="bg-white rounded-xl p-6 grid grid-cols-[56px_1fr] gap-3">
            <div
              class="rounded-full border border-black/20 p-4 flex items-center justify-center"
            >
              <svg class="icon" width="26" height="26">
                <use xlink:href="#contact-mail"></use>
              </svg>
            </div>
            <div class="text-custom-grey-100">
              <p>Send us an email</p>
              <a
                href="mailto:info@zeepay.com"
                class="text-main font-semibold text-xl underline hover:no-underline"
                >info@zeepay.com</a
              >
            </div>
          </div>

          <div class="bg-white rounded-xl p-6 grid grid-cols-[56px_1fr] gap-3">
            <div
              class="rounded-full border border-black/20 p-4 flex items-center justify-center"
            >
              <svg class="icon" width="26" height="26">
                <use xlink:href="#contact-map"></use>
              </svg>
            </div>
            <div class="text-custom-grey-100">
              <p>Visit us</p>
              <a href="#" class="text-main font-semibold text-xl"
                >L.K.Road, Vashi -410200</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="bg-white rounded-xl p-4 md:p-10">
          <h2 class="h3">We'll get in touch shortly</h2>
          <p class="subtitle text-base">
            We're here to answer your questions and provide personalized
            assistance!
          </p>
          <Form />
        </div>
      </div>
    </div>
  </div>
</section>
