---

---

<section class="section">
  <div class="container">
    <h2 class="h3 text-center">Customer reviews about Zeepay</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <article class="swiper-slide p-10 rounded-xl bg-custom-light-100">
        <p class="text-sm">
          "Zeepay is my go-to app for all payments. Whether I’m paying bills or
          transferring money to friends, it’s super convenient and secure! The
          app has taken the hassle out of managing my finances, and I love the
          easy interface that keeps everything organized."
        </p>
        <div class="flex flex-wrap gap-2 items-center justify-start mt-4">
          <img
            src="/img/comments/ava1.png"
            alt=""
            class="rounded-full w-10 h-10 object-cover"
          />
          <div class="flex flex-wrap gap-0 flex-col">
            <b>Priya K.,</b>
            <span style="text-custom-grey-100"> Small Business Owner</span>
          </div>
        </div>
      </article>

      <article class="swiper-slide p-10 rounded-xl bg-custom-blue-100">
        <p class="text-sm">
          "Zeepay is my go-to app for all payments. Whether I’m paying bills or
          transferring money to friends, it’s super convenient and secure! The
          app has taken the hassle out of managing my finances, and I love the
          easy interface that keeps everything organized."
        </p>
        <div class="flex flex-wrap gap-2 items-center justify-start mt-4">
          <img
            src="/img/comments/ava1.png"
            alt=""
            class="rounded-full w-10 h-10 object-cover"
          />
          <div class="flex flex-wrap gap-0 flex-col">
            <b>Priya K.,</b>
            <span style="text-custom-grey-100"> Small Business Owner</span>
          </div>
        </div>
      </article>

      <article class="swiper-slide p-10 rounded-xl bg-custom-blue-100">
        <p class="text-sm">
          "Zeepay is my go-to app for all payments. Whether I’m paying bills or
          transferring money to friends, it’s super convenient and secure! The
          app has taken the hassle out of managing my finances, and I love the
          easy interface that keeps everything organized."
        </p>
        <div class="flex flex-wrap gap-2 items-center justify-start mt-4">
          <img
            src="/img/comments/ava1.png"
            alt=""
            class="rounded-full w-10 h-10 object-cover"
          />
          <div class="flex flex-wrap gap-0 flex-col">
            <b>Priya K.,</b>
            <span style="text-custom-grey-100"> Small Business Owner</span>
          </div>
        </div>
      </article>

      <article class="swiper-slide p-10 rounded-xl bg-custom-light-100">
        <p class="text-sm">
          "Zeepay is my go-to app for all payments. Whether I’m paying bills or
          transferring money to friends, it’s super convenient and secure! The
          app has taken the hassle out of managing my finances, and I love the
          easy interface that keeps everything organized."
        </p>
        <div class="flex flex-wrap gap-2 items-center justify-start mt-4">
          <img
            src="/img/comments/ava1.png"
            alt=""
            class="rounded-full w-10 h-10 object-cover"
          />
          <div class="flex flex-wrap gap-0 flex-col">
            <b>Priya K.,</b>
            <span style="text-custom-grey-100"> Small Business Owner</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
