---
import { Mail, ChevronRight } from "@lucide/astro";

interface Props {
  heading: string;
  body: string;
}

const { heading, body } = Astro.props;
---

<section class="section">
  <div class="container">
    <div
      class="bg-custom-blue-300 bg-[url('/img/bg/subscribe-cta.svg')] bg-no-repeat bg-cover text-white rounded-2xl p-6 sm:p-10 lg:p-20 grid grid-cols-1 md:grid-cols-[1fr_auto] gap-4 items-center"
    >
      <div>
        <h2 class="h3">{heading}</h2>
        <p class="opcity-80">
          {body}
        </p>
      </div>
      <div>
        <form action="#" class="form-subscri" method="POST">
          <div class="flex flex-wrap gap-3 items-center">
            <fieldset class="fieldset flex-1 overflow-hidden">
              <label class="input validator join-item w-full bg-white">
                <Mail class="text-black" />
                <input
                  type="email"
                  placeholder="mail@site.com"
                  required
                  name="contact_email"
                  id="contact-email"
                  class="text-black"
                />
              </label>
            </fieldset>
            <button
              class="btn btn-main bg-main text-white border-blue-600 hover:bg-blue-600 font-normal w-full sm:w-auto shadow-none"
              type="submit">Sign up<ChevronRight size={16} /></button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
