---

---

<section class="section bg-white text-black my-0! py-20">
  <div class="container">
    <p class="text-center mb-6">
      Trusted by <b class="text-main">500+</b> Companies
    </p>

    <div class="relative overflow-hidden">
      <div
        class="block pointer-events-none absolute left-0 top-0 h-full w-24 z-10
              bg-gradient-to-r from-white to-transparent"
      >
      </div>

      <div
        class="block pointer-events-none absolute right-0 top-0 h-full w-24 z-10
              bg-gradient-to-l from-white to-transparent"
      >
      </div>

      <div class="flex items-center gap-3 overflow-hidden">
        <img src="/img/brands/b1.png" alt="" />
        <img src="/img/brands/b2.png" alt="" />
        <img src="/img/brands/b3.png" alt="" />
        <img src="/img/brands/b4.png" alt="" />
        <img src="/img/brands/b1.png" alt="" />
        <img src="/img/brands/b2.png" alt="" />
        <img src="/img/brands/b1.png" alt="" />
        <img src="/img/brands/b2.png" alt="" />
        <img src="/img/brands/b3.png" alt="" />
        <img src="/img/brands/b4.png" alt="" />
        <img src="/img/brands/b1.png" alt="" />
        <img src="/img/brands/b2.png" alt="" />
        <img src="/img/brands/b1.png" alt="" />
        <img src="/img/brands/b2.png" alt="" />
        <img src="/img/brands/b3.png" alt="" />
        <img src="/img/brands/b4.png" alt="" />
        <img src="/img/brands/b1.png" alt="" />
        <img src="/img/brands/b2.png" alt="" />
      </div>
    </div>
  </div>
</section>
